* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.App {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 240px 1fr;
}

.Viewer {
    width: 100%;
    height: 100%;
}

.List {
    padding: 10px 0;
    background: #2e3032;
    color: white;
}

.List-header {
    border-bottom: 1px solid #4d4d5e;
    padding: 0.5em 0;
}

.List-clouds {
    padding: 0.5em 0;
    list-style: none;
    text-align: left;
    margin: 0;
    border-bottom: 1px solid #4d4d5e;
    background: rgba(39, 45, 43, 0.49);
}

.List-entry {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    color: #edfbfd;
    margin: 0;
    padding: 0.5em 1em;
    background: none;
    text-align: left;
    border: none;
    cursor: pointer;
    width: 100%;
}


.List-entry:hover {
    background: #2d3365;
}

button.Pager-button {
    background: #123;
    margin: 0.25em 0.5em;
    border-radius: 4px;
    display: inline-block;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.5em 1em;
}

button.Pager-button:hover {
    background: #234
}

button.Pager-button:disabled {
    color: #999;
}
